fixIssues.txt
# Created by https://www.gitignore.io/api/eclipse
# Edit at https://www.gitignore.io/?templates=eclipse

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

### Eclipse Patch ###
# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Annotation Processing
.apt_generated

.sts4-cache/

# End of https://www.gitignore.io/api/eclipse

 ./VeterinariaWebApp/target/m2e-wtp/web-resources
.DS_Store
/target/
src/main/java/com/database/Conexion.java
target/test-classes/com/scrum/hospital/example/LoginTest.class
target/test-classes/com/scrum/hospital/example/HelloWorldTest.class
target/test-classes/com/scrum/hospital/example/ConfigTest.class
target/hospital-0.0.1-SNAPSHOT/WEB-INF/classes/com/action/UsuarioAction.class
target/classes/com/scrum/hospital/example/Login.class
target/classes/com/scrum/hospital/example/HelloWorld.class
target/classes/com/scrum/hospital/example/ExampleSupport.class
target/classes/com/database/Conexion.class
target/classes/com/dao/impl/DAOUsuario_Impl.class
target/classes/com/dao/impl/DAOAdministrador_Impl.class
target/classes/com/dao/DAOUsuario.class
target/classes/com/dao/DAOAdministrador.class
target/classes/com/bean/UsuarioBean.class
target/classes/com/bean/PacienteBena.class
target/classes/com/bean/MedicoBean.class
target/classes/com/bean/AdministradorBean.class
target/classes/com/action/UsuarioAction.class
hospital.iml
.idea/libraries/Maven__org_springframework_spring_test_4_1_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_1_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_1_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_1_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_1_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_1_9_RELEASE.xml
.idea/libraries/Maven__org_javassist_javassist_3_20_0_GA.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_freemarker_freemarker_2_3_26_incubating.xml
.idea/libraries/Maven__org_apache_struts_struts2_junit_plugin_2_5_14_1.xml
.idea/libraries/Maven__org_apache_struts_struts2_core_2_5_14_1.xml
.idea/libraries/Maven__org_apache_struts_struts2_config_browser_plugin_2_5_14_1.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_9_1.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_6.xml
.idea/libraries/Maven__ognl_ognl_3_1_15.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__javax_servlet_servlet_api_2_4.xml
.idea/libraries/Maven__javax_servlet_jsp_api_2_0.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__commons_io_commons_io_2_5.xml
.idea/libraries/Maven__commons_fileupload_commons_fileupload_1_3_3.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
target/hospital-0.0.1-SNAPSHOT/WEB-INF/classes/log4j2.xml
target/hospital-0.0.1-SNAPSHOT/WEB-INF/classes/example.xml
target/hospital-0.0.1-SNAPSHOT/WEB-INF/classes/com/scrum/hospital/example/package_es.properties
target/hospital-0.0.1-SNAPSHOT/WEB-INF/classes/com/scrum/hospital/example/package.properties
target/hospital-0.0.1-SNAPSHOT/WEB-INF/classes/com/scrum/hospital/example/Login-validation.xml
target/hospital-0.0.1-SNAPSHOT/WEB-INF/classes/com/dao/impl/DAOAdministrador_Impl.class
target/hospital-0.0.1-SNAPSHOT/WEB-INF/classes/com/dao/DAOAdministrador.class
target/classes/log4j2.xml
target/classes/example.xml
target/classes/com/scrum/hospital/example/package_es.properties
target/classes/com/scrum/hospital/example/package.properties
target/classes/com/scrum/hospital/example/Login-validation.xml
target/classes/com/dao/impl/DAOUsuario_Impl.class
target/classes/com/dao/impl/DAOAdministrador_Impl.class
target/classes/com/dao/DAOAdministrador.class
target/classes/com/bean/MedicoBean.class
hospital.iml
classes/production/hospital/struts.xml
classes/production/hospital/log4j2.xml
classes/production/hospital/example.xml
classes/production/hospital/com/scrum/hospital/example/package_es.properties
classes/production/hospital/com/scrum/hospital/example/package.properties
classes/production/hospital/com/scrum/hospital/example/Login-validation.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Maven__org_springframework_spring_test_4_1_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_1_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_1_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_1_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_1_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_1_9_RELEASE.xml
.idea/libraries/Maven__org_javassist_javassist_3_20_0_GA.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_freemarker_freemarker_2_3_26_incubating.xml
.idea/libraries/Maven__org_apache_struts_struts2_junit_plugin_2_5_14_1.xml
.idea/libraries/Maven__org_apache_struts_struts2_core_2_5_14_1.xml
.idea/libraries/Maven__org_apache_struts_struts2_config_browser_plugin_2_5_14_1.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_9_1.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_6.xml
.idea/libraries/Maven__ognl_ognl_3_1_15.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__javax_servlet_servlet_api_2_4.xml
.idea/libraries/Maven__javax_servlet_jsp_api_2_0.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__commons_io_commons_io_2_5.xml
.idea/libraries/Maven__commons_fileupload_commons_fileupload_1_3_3.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/compiler.xml
.idea/artifacts/hospital_war_exploded.xml
.idea/artifacts/hospital_war.xml
